**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.idea
**/*.user
**/TestResults
**/coverage*
**/.env
**/.env.*
!**/.env.example
**/appsettings.*.local.json
**/Dockerfile
**/docker-compose*.yml
**/*.md
.git
.gitignore
